<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	<property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>	
	<property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatepractice</property><!-- Table Name (Create yourself) -->
    <property name = "hibernate.connection.username">root</property>
    <property name = "hibernate.connection.password">Goldenstar@123</property>
    <property name = "hibernate.show_sql">true</property>
    <property name = "hibernate.hbm2ddl.auto">update</property> <!--  create will create new table every time -->
    <mapping class="model.Employee"/><!-- File where annotation is performed. -->

<!-- !IMPORTANT:-   resource attribute is used in mapping option when using hibernate.hbm.xml file form mapping.
    				class attribute is used in mapping option when using annotation for mapping. -->
    
</session-factory>

</hibernate-configuration>